name: File Sync

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: 0 0 * * *

jobs:
  file_sync:
    runs-on: ubuntu-latest
    steps:
      - name: Fetching Local Repository
        uses: actions/checkout@main
      - name: File Sync
        uses: kbrashears5/github-action-file-sync@v2.0.0
        with:
          REPOSITORIES: |
            Visual-Analytics-Toolbox/test_config@main
          FILES: |
            README.md=README.md
          TOKEN: ${{ secrets.ACTIONS }}
          GIT_EMAIL: "stella.a.schlotter@gmail.com"
          GIT_USERNAME: "Stella"
